
 body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Fallback color */
  background-color: #e6e6fa; /* Light purple background */
}



h1 {
  text-align: center;
  margin-bottom: 20px;
}

.app-body {
  width: 80%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.weekday {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 100%); /* Glassy gradient background */
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

.weekday h4 {
  margin-top: 0;
}

label {
  margin-right: 10px;
}

/* App.css */
.select-container {
  margin: 10px 0;
}

.select-container label {
  font-size: 16px;
  margin-right: 10px;
}

.select-container select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
}

.select-container select:hover {
  border-color: #888;
}

.select-container select:focus {
  border-color: #555;
}
